<div class="row border border-2 ">
<div>
<h5>Home</h5>
</div>
</div>

<div class="row border border-2">
  <div class="col col-lg-2" style="padding-top: 20px;">
    <%= image_tag "user.svg", size: "50x50", class: "rounded-circle" %>
  </div>
<div class="col col-lg-10">
  <p></p>
  <%= render partial: "tweets/feeds" %>
</div>
</div> 

<% @tweets.each do |tweet| %>
 <div class="row border border-2">
  <div class="col col-lg-2" style="padding-top: 20px;">
    <%= image_tag "user.svg", size: "50x50", class: "rounded-circle" %>
  </div>
  <div class="col col-lg-10">
    <p>User name  <%= tweet.created_at %></p>
    <p><%= tweet.post %></p> 
    <%= image_tag "thumbnail.jpg", size: "475x350" %>
  </div>
</div> 
<% end %>









