<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><%= image_tag "twitter.svg" %></svg>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <%= image_tag "home-solid.svg", size: "30x30" %>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Explore
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <%= image_tag "bell-solid.svg", size: "30x30" %>
          Notification
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Messages
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Bookmarks
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Lists
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <%= image_tag "user.svg", size: "30x30" %>
          Profile
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark back-hover rounded-pill">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          More
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          <%= link_to "Tweet", new_tweet_path, class: "btn btn-primary rounded-pill" %>
        </a>
      </li>
    </ul>
    
  </div>